
:root {
    --dark-blue: #381375;
    --blue: #a5a5a5;
    --light-yellow: #fff23b;
    --pink: rgb(167, 28, 74);
    --dr-blue: #7035ce;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
 }

body {
    height: 100vh;
    font-family: sans-serif;
    background-image: linear-gradient(45deg,var(--light-yellow), var(--dr-blue));

    display: flex;
    justify-content: center;
    align-items: center;
}

.code-editor {
    width: 90vw;
    height: 90vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--dark-blue);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
 }

.code {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow-y: auto;

    background-color: var(--dark-blue);
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
}

h1 {
    font: 600 1.2rem sans-serif;
    margin: 1rem 0;
    color: #fff;
}

h1 > img {
    width: 1.3rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.code textarea {
    width: 100%;
    height: calc(100% - 4rem);
    background-color: var(--blue);
    color: var(--light-blue);
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    resize: vertical;
}

.code textarea::-webkit-scrollbar {
    width: .4rem;
}
.code textarea::-webkit-scrollbar-thumb {
    background-color: var(--pink);
    border-radius: .4rem;
}

#result {
    width: 100%;
    height: 100%;
    border: none;
}

a {
    background-color: lime;
    color: #fff;
    padding: 0 1.2rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 2rem;
    float: right;
    cursor: pointer;
}
